force-app/main/default/flows/BoothValidation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <customErrors>
        <name>error1</name>
        <label>error1</label>
        <locationX>704</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>{!errorMessage}</errorMessage>
            <fieldSelection>Location__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>validation</name>
        <label>validation</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>error1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>passed</defaultConnectorLabel>
        <rules>
            <name>scenario1</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>get_vendor.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Main_Square</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treat_Lane</stringValue>
                </rightValue>
            </conditions>
            <label>scenario1</label>
        </rules>
        <rules>
            <name>scenario2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_vendor.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Candy Maker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweet_Corner</stringValue>
                </rightValue>
            </conditions>
            <label>scenario2</label>
        </rules>
        <rules>
            <name>scenario3</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>get_vendor.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Game Master</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Treat_Lane</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Main_Square</stringValue>
                </rightValue>
            </conditions>
            <label>scenario3</label>
        </rules>
        <rules>
            <name>Other_values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_vendor.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Baker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_vendor.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Candy Maker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_vendor.Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Game Master</stringValue>
                </rightValue>
            </conditions>
            <label>Other values</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BoothValidation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BoothValidation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_vendor</name>
        <label>get vendor</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vendor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Vendor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_vendor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vendor__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Booth__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>errorMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Booth may not be placed in this location.</text>
    </textTemplates>
</Flow>
