force-app/main/default/flows/permit_Booth_after_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Safety_Rating_Assignment_Rules</name>
        <label>Safety Rating Assignment Rules</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>update4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>high_risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Risk_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update1</targetReference>
            </connector>
            <label>high risk</label>
        </rules>
        <rules>
            <name>equip_and_space</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Equipment_Requirements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specialty (Custom Requirements)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Space_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extra-Large</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update2</targetReference>
            </connector>
            <label>equip and space</label>
        </rules>
        <rules>
            <name>food_premium</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booth_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Food</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Booth_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sweets</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Equipment_Requirements__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium (Enhanced Power/Water)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update3</targetReference>
            </connector>
            <label>food premium</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>permit_Booth after flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>permit_Booth after flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Booth_Record</name>
        <label>Create Booth Record</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Safety_Rating_Assignment_Rules</targetReference>
        </connector>
        <inputAssignments>
            <field>Setup_Date__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Setup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>$Record.Vendor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Booth__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update1</name>
        <label>update1</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>update_booth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Booth_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inspection_Frequency__c</field>
            <value>
                <stringValue>Every 2 hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety_Rating__c</field>
            <value>
                <stringValue>1 = Critical issues (needs immediate attention)</stringValue>
            </value>
        </inputAssignments>
        <object>Booth__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update2</name>
        <label>update2</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>update_booth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Booth_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inspection_Frequency__c</field>
            <value>
                <stringValue>Every 4 hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety_Rating__c</field>
            <value>
                <stringValue>2 = Major concerns</stringValue>
            </value>
        </inputAssignments>
        <object>Booth__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update3</name>
        <label>update3</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>update_booth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Booth_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inspection_Frequency__c</field>
            <value>
                <stringValue>Every 6 hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety_Rating__c</field>
            <value>
                <stringValue>3 = Minor issues</stringValue>
            </value>
        </inputAssignments>
        <object>Booth__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update4</name>
        <label>update4</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>update_booth</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Booth_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Inspection_Frequency__c</field>
            <value>
                <stringValue>Daily</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Safety_Rating__c</field>
            <value>
                <stringValue>4 = Good standing</stringValue>
            </value>
        </inputAssignments>
        <object>Booth__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_booth</name>
        <label>update booth</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Festival_Booth__c</field>
            <value>
                <elementReference>Create_Booth_Record</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Booth_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Permit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
